 <header>
  <nav class="flex justify-between lg:items-center bg-sky-600">
      <div>
        <img class="p-4" src="assets/img/logoblanco.png">
      </div>
      <div class="flex items-center lg:hidden mr-5">
        <button mat-icon-button aria-label="Open responsive nav" (click)="toggleMenu()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div class="ml-10 text-white hidden lg:flex flex-auto gap-3">
        <button mat-button [routerLink]="navItem.ruta" *ngFor="let navItem of navbarData">{{navItem.label}}</button>
      </div>
      <div class="menu hidden lg:block px-10 text-white" [class.is-open]="isOpen">
        <button mat-button (click)="logout()">Salir</button>
      </div>
  </nav>
</header>
