:host {
    display: flex;
    justify-content: center;
    margin: 100px 0px;
  }

  .mat-form-field {
    width: 100%;
    min-width: 400px;
    height: 15vh;
    
  }

  mat-card-title,
  mat-card-content {
    display: flex;
    justify-content: center;
  }

  .error {
    padding: 16px;
    width: 300px;
   
    background-color: red;
  }
  .buttons{
    text-align: center;
  }

  .Login {
    
    justify-content: flex-start;
    background-color: #c8dce6;
  }
  .Register {
    margin-left: 3px;
    margin-right: 3px;
    justify-content:flex-end;
    background-color: #c8dce6;
  }
  .ForgotPass{
    background-color: #c8dce6;
  }