<div class="w-full" *ngIf="ifLoggedIn">
<nav class="flex px-5 py-3 text-dark-700 rounded-lg bg-cyan-700 bg-cyan-700" aria-label="Breadcrumb">
    <ol class="inline-flex items-center space-x-1 md:space-x-3" >
      <li class="inline-flex items-center" *ngFor="let inRoute of innerRoutes">
        <a href="#" class="inline-flex items-center text-sm font-medium">
          {{inRoute}}
        </a>
        <span class="ml-2" *ngIf="inRoute!==''"><svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" fill="none"
          viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M9 5l7 7-7 7" />
  </svg></span>
      </li>
    </ol>
  </nav>
</div>
