.container{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin-top:2.4rem;

    .registerForm{
        width: 100%;
        max-width: 20rem;
        text-align: center;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
        padding: 1rem 1rem;
        border-top: 1px solid rgba(0, 0, 0, 0.2);
        border-left: 1px solid rgba(0, 0, 0, 0.2);
        img{
            width: 50%;
        }
        .register-input{
            width: 80%;


        }
        .register-btn{
            height: 3rem;
        }
    }
}