<!-- <div class="container m-auto max-w-lg pt-20 pb-5">
  <div class="registerForm flex flex-col items-center gap-2">
      <img src="assets/alkemyLogo.svg" alt="logo">
      <h1>Registro</h1>
      <form [formGroup]="registerForm" class="w-full px-10">
          <div class="flex flex-col text-left py-3">
              <mat-label>Nombre:</mat-label>
              <mat-form-field appearance="outline" class="w-full">
                  <input matInput id="first_name" name="first_name" autocomplete="given-name"
                      class="border focus:ring-sky-500 focus:border-sky-500" type="text" formControlName="first_name">
                  <mat-error *ngIf="registerForm.controls['first_name'].hasError('required')">
                      El nombre es <strong>requerido</strong>
                  </mat-error>
              </mat-form-field>
              <mat-label>Apellido:</mat-label>
              <mat-form-field appearance="outline" class="w-full">
                  <input matInput id="last_name" name="last_name" autocomplete="family-name"
                      class="border focus:ring-sky-500 focus:border-sky-500" type="text" formControlName="last_name">
                  <mat-error *ngIf="registerForm.controls['last_name'].hasError('required')">
                      El apellido es <strong>requerido</strong>
                  </mat-error>
              </mat-form-field>
              <mat-label>Email:</mat-label>
              <mat-form-field appearance="outline" class="w-full">
                  <input matInput id="email" name="email" autocomplete="email"
                      class="border focus:ring-sky-500 focus:border-sky-500" type="email" formControlName="email">
                  <mat-error *ngIf="registerForm.controls['email'].hasError('required')">
                      El email es <strong>requerido</strong>
                  </mat-error>
                  <mat-error *ngIf="registerForm.controls['email'].hasError('email')">
                      El email <strong>no es valido</strong>
                  </mat-error>
              </mat-form-field>
              <mat-label>Contraseña:</mat-label>
              <mat-form-field appearance="outline" class="w-full">
                  <input matInput id="password" name="password" autocomplete="new-password"
                      class="border focus:ring-sky-500 focus:border-sky-500" type="password"
                      formControlName="password">
                  <mat-error *ngIf="registerForm.controls['password'].hasError('required')">
                      La contraseña es <strong>requerida</strong>
                  </mat-error>
                  <mat-error *ngIf="registerForm.controls['password'].hasError('minlength')">
                      La contraseña debe tener al menos <strong>6 caracteres</strong>
                  </mat-error>
              </mat-form-field>
          </div>
          <div class="flex gap-5 w-full justify-center">
              <button type="submit" mat-flat-button color="primary" (click)="register(user)"
              [disabled]="registerForm.invalid || resultado == false">Enviar</button>
              <button type="button" mat-stroked-button (click)="openDialog()">Terminos y condiciones</button>
          </div>
      </form>
  </div>
</div> -->

<div class="flex-1 flex flex-col justify-center py-12 px-4 sm:px-6 lg:flex-none lg:px-20 xl:px-24">
  <mat-card class="shadow-2xl">
  <div class="mx-auto w-full max-w-sm lg:max-w-lg lg:w-[100rem]">
        <div class="text-center lg:text-left">
            <img class="h-12 w-auto m-auto lg:m-0 "
                src="https://www.alkemy.org/static/media/alkemyLogo.2daef856.svg" alt="Workflow">
                <div class="flex items-end gap-3">
                    <img src="assets/user-icon.png" class="w-9 h-9" alt="user">
                <h2 class="mt-6 text-3xl font-extrabold text-gray-900">Crea tu cuenta aqui</h2>
                </div>
            <p class="mt-2 text-sm text-gray-600">
                Si ya tienes una cuenta
                <a routerLink="/auth/login" class="font-medium text-sky-600 hover:text-sky-500"> Inicia sesion
                </a>
            </p>
        </div>
        <div class="mt-6">
            <form action="#" method="POST" class="space-y-1" [formGroup]="registerForm">
                <div class="grid grid-cols-1 lg:grid-cols-2 lg:gap-3">
                    <div>
                        <label for="email" class="block text-sm font-medium text-gray-700"> Ingresa tu nombre
                        </label>
                        <div class="mt-1">
                            <mat-form-field appearance="outline" class="w-full">
                                <input matInput id="first_name" name="first_name" autocomplete="given-name"
                                    class="border focus:ring-sky-500 focus:border-sky-500" type="text" formControlName="first_name">
                                <mat-error *ngIf="registerForm.controls['first_name'].hasError('required')">
                                    El nombre es <strong>requerido</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div>
                        <label for="email" class="block text-sm font-medium text-gray-700"> Ingresa tu apellido
                        </label>
                        <div class="mt-1">
                            <mat-form-field appearance="outline" class="w-full">
                                <input matInput id="last_name" name="last_name" autocomplete="family-name"
                                    class="border focus:ring-sky-500 focus:border-sky-500" type="text" formControlName="last_name">
                                <mat-error *ngIf="registerForm.controls['last_name'].hasError('required')">
                                    El apellido es <strong>requerido</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div>
                    <label for="email" class="block text-sm font-medium text-gray-700"> Email de usuario </label>
                    <div class="mt-1">
                        <mat-form-field appearance="outline" class="w-full">
                            <input matInput id="email" name="email" autocomplete="email"
                                class="border focus:ring-sky-500 focus:border-sky-500" type="email" formControlName="email">
                            <mat-error *ngIf="registerForm.controls['email'].hasError('required')">
                                El email es <strong>requerido</strong>
                            </mat-error>
                            <mat-error *ngIf="registerForm.controls['email'].hasError('email')">
                                El email <strong>no es valido</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <div class="grid grid-cols-1 lg:grid-cols-2 lg:gap-3">
                    <div class="space-y-1">
                        <label for="password" class="block text-sm font-medium text-gray-700"> Contraseña </label>
                        <div class="mt-1">
                            <mat-form-field appearance="outline" class="w-full">
                                <input matInput id="password" name="password" autocomplete="new-password"
                                    class="border focus:ring-sky-500 focus:border-sky-500" type="password"
                                    formControlName="password">
                                <mat-error *ngIf="registerForm.controls['password'].hasError('required')">
                                    La contraseña es <strong>requerida</strong>
                                </mat-error>
                                <mat-error *ngIf="registerForm.controls['password'].hasError('minlength')">
                                    La contraseña debe tener al menos <strong>6 caracteres</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="space-y-1">
                        <label for="password" class="block text-sm font-medium text-gray-700"> Confirmar contraseña
                        </label>
                        <div class="mt-1">
                            <mat-form-field appearance="outline" class="w-full">
                                <input matInput id="confirmPassword" name="password" type="password"
                                    autocomplete="current-password" formControlName="confirmPassword"
                                    class="border focus:ring-sky-500 focus:border-sky-500">
                                <mat-error *ngIf="registerForm.controls['confirmPassword'].hasError('required')">
                                    La contraseña es <strong>requerida</strong>
                                </mat-error>
                                <mat-error *ngIf="registerForm.controls['confirmPassword'].hasError('minlength')">
                                    Contraseña <strong>invalida</strong>
                                </mat-error>
                                <mat-error *ngIf="registerForm.controls['confirmPassword'].hasError('passwordMatch')">
                                    Las contraseñas <strong>no coinciden</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </form>
            <div class="flex items-center justify-between pt-1 pb-3">
                <mat-checkbox id="remember-me" name="remember-me" color="primary"
                    class="ml-2 block text-sm text-gray-900" [(ngModel)]="resultado">
                    <a (click)="openDialog()" class="hover:text-sky-500">Acepto los terminos y condiciones</a>
                </mat-checkbox>
            </div>

            <div>
                <button [disabled]="loading" (click)="register()" type="submit" mat-raised-button color="primary"
                    class="w-full py-1 bg-sky-700">Registrarse</button>
            </div>

        </div>
      </div>
    </mat-card>
    </div>

