    <div class="min-h-full flex">
        <div class="hidden lg:block relative w-0 flex-1">
            <img class="absolute inset-0 h-full w-full object-cover" src="../../../../assets/imgFondo.jpg" alt="">
        </div>
        <button mat-fab class="absolute left-10 top-10 bg-sky-600" [routerLink]="'/home'">
            <mat-icon>arrow_back</mat-icon>
        </button>
        <div class="flex-1 flex flex-col justify-center py-12 px-4 sm:px-6 lg:flex-none lg:px-20 xl:px-24">
            <div class="mx-auto w-full max-w-sm lg:max-w-lg lg:w-[100rem]">
                <div class="text-center lg:text-left">
                    <img class="h-12 w-auto m-auto lg:m-0 "
                        src="../../../assets/alkemyLogo.svg" alt="Workflow">
                    <h2 class="mt-6 text-3xl font-extrabold text-gray-900">Crea tu cuenta aqui</h2>
                    <p class="mt-2 text-sm text-gray-600">
                        Si ya tienes una cuenta
                        <a routerLink="/auth/login" class="font-medium text-sky-600 hover:text-sky-500"> Inicia sesion
                        </a>
                    </p>
                </div>

                <div class="mt-6">
                    <form action="#" method="POST" class="space-y-1" [formGroup]="registerForm">
                        <div class="grid grid-cols-1 lg:grid-cols-2 lg:gap-3">
                            <div>
                                <label for="email" class="block text-sm font-medium text-gray-700"> Ingresa tu nombre
                                </label>
                                <div class="mt-1">
                                    <mat-form-field appearance="outline" class="w-full">
                                        <input matInput id="first_name" name="first_name" autocomplete="given-name"
                                            class="border focus:ring-sky-500 focus:border-sky-500" type="text" formControlName="first_name">
                                        <mat-error *ngIf="registerForm.controls['first_name'].hasError('required')">
                                            El nombre es <strong>requerido</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div>
                                <label for="email" class="block text-sm font-medium text-gray-700"> Ingresa tu apellido
                                </label>
                                <div class="mt-1">
                                    <mat-form-field appearance="outline" class="w-full">
                                        <input matInput id="last_name" name="last_name" autocomplete="family-name"
                                            class="border focus:ring-sky-500 focus:border-sky-500" type="text" formControlName="last_name">
                                        <mat-error *ngIf="registerForm.controls['last_name'].hasError('required')">
                                            El apellido es <strong>requerido</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div>
                            <label for="email" class="block text-sm font-medium text-gray-700"> Email de usuario </label>
                            <div class="mt-1">
                                <mat-form-field appearance="outline" class="w-full">
                                    <input matInput id="email" name="email" autocomplete="email"
                                        class="border focus:ring-sky-500 focus:border-sky-500" type="email" formControlName="email">
                                    <mat-error *ngIf="registerForm.controls['email'].hasError('required')">
                                        El email es <strong>requerido</strong>
                                    </mat-error>
                                    <mat-error *ngIf="registerForm.controls['email'].hasError('email')">
                                        El email <strong>no es valido</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="grid grid-cols-1 lg:grid-cols-2 lg:gap-3">
                            <div class="space-y-1">
                                <label for="password" class="block text-sm font-medium text-gray-700"> Contraseña </label>
                                <div class="mt-1">
                                    <mat-form-field appearance="outline" class="w-full">
                                        <input matInput id="password" name="password" autocomplete="new-password"
                                            class="border focus:ring-sky-500 focus:border-sky-500" type="password"
                                            formControlName="password">
                                        <mat-error *ngIf="registerForm.controls['password'].hasError('required')">
                                            La contraseña es <strong>requerida</strong>
                                        </mat-error>
                                        <mat-error *ngIf="registerForm.controls['password'].hasError('minlength')">
                                            La contraseña debe tener al menos <strong>6 caracteres</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="space-y-1">
                                <label for="password" class="block text-sm font-medium text-gray-700"> Confirmar contraseña
                                </label>
                                <div class="mt-1">
                                    <mat-form-field appearance="outline" class="w-full">
                                        <input matInput id="confirmPassword" name="password" type="password"
                                            autocomplete="current-password" formControlName="confirmPassword"
                                            class="border focus:ring-sky-500 focus:border-sky-500">
                                        <mat-error *ngIf="registerForm.controls['confirmPassword'].hasError('required')">
                                            La contraseña es <strong>requerida</strong>
                                        </mat-error>
                                        <mat-error *ngIf="registerForm.controls['confirmPassword'].hasError('minlength')">
                                            Contraseña <strong>invalida</strong>
                                        </mat-error>
                                        <mat-error *ngIf="registerForm.controls['confirmPassword'].hasError('passwordMatch')">
                                            Las contraseñas <strong>no coinciden</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="flex items-center justify-between pt-1 pb-3">
                        <mat-checkbox id="remember-me" name="remember-me" color="primary"
                    class="ml-2 block text-sm text-gray-900" [(ngModel)]="resultado">
                    <a (click)="openDialog()" class="hover:text-sky-500">Acepto los terminos y condiciones</a>
                </mat-checkbox>
                    </div>

                    <div>
                        <button [disabled]="loading" (click)="register()" type="submit" mat-raised-button color="primary"
                    class="w-full py-1 bg-sky-700" id="btn-register">Registrarse</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
