<h2 mat-dialog-title>Terminos y condiciones de AlkyBank</h2>
<mat-dialog-content class="mat-typography">
  <p>Lea atentamente los presentes términos y condiciones. El acceso a este sitio así como a cualquier página del mismo implica aceptación por su parte de los términos y condiciones que se detallan debiendo cumplir con los mismos. En caso de no estar de acuerdo con dichos términos y condiciones no acceda al sitio o a cualquiera de sus páginas.</p>

  <p>
    ©Copyright 2007 - AlkyBank "Banco") se reserva todos los derechos, en consecuencia la copia, duplicación, redistribución, comercialización o cualquier otra actividad que se pueda realizar con los contenidos de este sitio, de sus páginas y de las pantallas que muestran estas páginas aún citando las fuentes, está prohibido salvo consentimiento expreso de AlkyBank.
</p>

  <p>AlkyBank no será responsable si por cualquier causa fuera imposible acceder a la presente página, se desconectara el servicio, falla en el rendimiento, error, omisión, interrupción, defecto, demora en la operación o transmisión, virus informático, falla de sistema, falla de línea o por los accesos no exitosos a cualquiera de los vínculos incluidos en este sitio. Tampoco tendrá responsabilidad alguna por la información contenida en los sitios a los cuales el usuario acceda por su intermedio.1º</p>

  <p>Toda la información presentada a AlkyBank a través de éste sitio será considerada propiedad de Scotiabank. Las ideas, conceptos, conocimientos incluidos en la información proporcionada por un visitante a través de este sitio podrá ser utilizada con cualquier fin por Scotiabank, quien no estará sujeto a obligación alguna en cuanto a confidencialidad con respecto a la información presentada salvo acuerdo con el visitante o así sea requerido por ley.</p>


  <p>Es condición esencial del servicio que Scotiabank pone a su disposición, que la información contenida en el presente sitio sea utilizada en forma lícita y de acuerdo a los presentes términos y condiciones.</p>


  <p>El Banco no asume responsabilidad alguna respecto del contenido de cualquier sitio de terceros, ligado o vinculado con este Sitio. Asimismo, el Usuario reconoce que cualquier acceso a otro sitio vinculado o ligado, será bajo su exclusiva responsabilidad, y en este acto libera al Banco de cualquier responsabilidad derivada de cualquier asunto relacionado con lo anterior.</p>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Aceptar</button>
</mat-dialog-actions>