<div class="flex flex-col text-center gap-4 align-middle">
    <div class="flex flex-col gap-2">
        <h2 class="text-xl font-bold text-gray-400">ID de usuario</h2>
        <p class="text-2xl font-bold text-gray-700">12401293</p>
    </div>
    <div class="flex flex-col gap-2">
        <h2 class="text-xl font-bold text-gray-400">Mail de usuario</h2>
        <p class="text-2xl font-bold text-gray-700">test@test.com</p>
    </div>
    <div class="flex flex-col gap-2">
        <h2 class="text-xl font-bold text-gray-400">Puntos acumulados</h2>
        <p class="text-2xl font-bold text-gray-700">15409</p>
    </div>
</div>