<div class="flex justify-center py-10">
  <mat-card class="w-96 ">
    <mat-card-header>
      <mat-card-title> Restablecer tu contraseña </mat-card-title>
      <mat-card-subtitle> Cambia tu contraseña aqui. </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content class="flex flex-col align-middle">
      <form [formGroup]="form" (submit)="resetPassword()">
        <!-- CAMPO EMAIL -->
        <p>
          <mat-form-field class="w-full">
              <input type="text" matInput placeholder="ID de usuario" formControlName="userId">
          </mat-form-field>
      </p>



      <p>
        <mat-form-field class="w-full">
            <input type="password" id="typePasswordX" type="password" matInput placeholder="Password"
                formControlName="password">
        </mat-form-field>
    </p>

    <p>
      <mat-form-field class="w-full">
          <input type="password" id="typePasswordX" type="password" matInput placeholder="Confirmar"
              formControlName="confirmPassword">
      </mat-form-field>
  </p>
        <button mat-flat-button color="primary" type="submit" class="w-full bg-sky-700">
          Submit
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
