<div  *ngFor="let datos of Accounts" class="bg-white rounded-t-lg border-t border-gray-200 shadow-md relative flex flex-col min-w-0 break-words w-full">
    <div class="px-4 py-5 flex-auto">
        <div class="tab-content tab-space">
            <div [ngClass]="{'hidden': openTab !== 1, 'block': openTab === 1}">
                <div class="flex flex-col divide-y gap-5 lg:flex-row lg:divide-y-0 lg:divide-x lg:gap-0">
                    <div class="flex-1 py-3 lg:px-10 flex items-center">
                        <div class="w-96 h-56 m-auto bg-red-100 rounded-xl relative text-white">
                            <img class="relative object-cover w-full h-full rounded-xl"
                                src="https://i.imgur.com/kGkSg1v.png">
                            <div class="w-full px-8 absolute top-8">
                                <div class="flex justify-between">
                                    <div class="flex gap-2">
                                        <p class="font-medium tracking-widest">
                                            Sebas</p>
                                        <p class="font-medium tracking-widest">
                                            Perez</p>
                                    </div>
                                    <img class="w-14 h-14" src="https://i.imgur.com/bbPHJVe.png" />
                                </div>
                                <div class="pt-1">
                                    <p class="font-light">Numero de tarjeta</p>
                                    <p class="font-medium tracking-more-wider">
                                        4642 3489 9867 7632
                                    </p>
                                </div>
                                <div class="pt-6 pr-6">
                                    <div class="flex justify-between">
                                        <div class="">
                                            <p class="font-light text-xs">Desde</p>
                                            <p class="font-medium tracking-wider text-sm">15/11
                                            </p>
                                        </div>
                                        <div class="">
                                            <p class="font-light text-xs">Hasta</p>
                                            <p class="font-medium tracking-wider text-sm">25/03
                                            </p>
                                        </div>
                                        <div class="">
                                            <p class="font-light text-xs">CVV</p>
                                            <p class="font-bold tracking-more-wider text-sm">
                                                ···
                                            </p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="px-5 flex-1 py-3 lg:px-10 flex flex-col gap-6 lg:gap-0 lg:justify-between">
                        <div>
                            <h2 class="text-xl font-bold text-gray-400">ID de cuenta</h2>
                            <p class="text-2xl font-bold text-gray-700">{{datos.userId}}</p>
                        </div>
                        <div>
                            <h2 class="text-xl font-bold text-gray-400">Mi balance:</h2>
                            <div class="flex">
                                <h3 *ngIf="hideCurrency === false" class="text-4xl font-bold">
                                </h3>
                                <h3 *ngIf="hideCurrency === true" class="text-4xl font-bold"> $
                                   {{datos.money}}  </h3>
                                <button mat-icon-button (click)="showCurrencyFn()">
                                    <mat-icon
                                        [ngClass]="{'text-black': hideCurrency === true, 'text-gray-400': hideCurrency === false}">
                                        visibility</mat-icon>
                                </button>
                            </div>
                        </div>
                        <div class="flex gap-5">
                            <button mat-raised-button class="w-full bg-sky-600 text-white" (click)="modalRecargar()">Recargar</button>
                            <button mat-raised-button class="w-full bg-sky-600 text-white" (click)="modalTransferir()" >Transferir</button>
                        </div>
                    </div>
                </div>
            </div>
            <div [ngClass]="{'hidden': openTab !== 2, 'block': openTab === 2}">
                <div class="flex flex-col divide-y gap-5 lg:flex-row lg:divide-y-0 lg:divide-x lg:gap-0">
                    <div class="flex-1 py-3 lg:px-10 flex items-center">
                        <div class="w-96 h-56 m-auto bg-red-100 rounded-xl relative text-white">
                            <img class="relative object-cover w-full h-full rounded-xl"
                                src="https://i.imgur.com/kGkSg1v.png">
                            <div class="w-full px-8 absolute top-8">
                                <div class="flex justify-between">
                                    <div class="flex gap-2">
                                        <p class="font-medium tracking-widest">
                                            Sebas</p>
                                        <p class="font-medium tracking-widest">
                                            Perez</p>
                                    </div>
                                    <img class="w-14 h-14" src="https://i.imgur.com/bbPHJVe.png" />
                                </div>
                                <div class="pt-1">
                                    <p class="font-light">Numero de tarjeta</p>
                                    <p class="font-medium tracking-more-wider">
                                        4642 3489 9867 7632
                                    </p>
                                </div>
                                <div class="pt-6 pr-6">
                                    <div class="flex justify-between">
                                        <div class="">
                                            <p class="font-light text-xs">Desde</p>
                                            <p class="font-medium tracking-wider text-sm">15/11
                                            </p>
                                        </div>
                                        <div class="">
                                            <p class="font-light text-xs">Hasta</p>
                                            <p class="font-medium tracking-wider text-sm">25/03
                                            </p>
                                        </div>
                                        <div class="">
                                            <p class="font-light text-xs">CVV</p>
                                            <p class="font-bold tracking-more-wider text-sm">
                                                ···
                                            </p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="px-5 flex-1 py-3 lg:px-10 flex flex-col gap-6 lg:gap-0 lg:justify-between">
                        <div>
                            <h2 class="text-xl font-bold text-gray-400">ID de cuenta</h2>
                            <p class="text-2xl font-bold text-gray-700">9021234234</p>
                        </div>
                        <div>
                            <h2 class="text-xl font-bold text-gray-400">Mi balance:</h2>
                            <div class="flex">
                                <h3 *ngIf="hideCurrency === false" class="text-4xl font-bold">
                                </h3>
                                <h3 *ngIf="hideCurrency === true" class="text-4xl font-bold"> $
                                    *** </h3>
                                <button mat-icon-button (click)="showCurrencyFn()">
                                    <mat-icon
                                        [ngClass]="{'text-black': hideCurrency === true, 'text-gray-400': hideCurrency === false}">
                                        visibility</mat-icon>
                                </button>
                            </div>
                        </div>
                        <div class="flex gap-5">
                            <button mat-raised-button class="w-full bg-sky-600 text-white" (click)="modalRecargar()">Recargar</button>
                            <button mat-raised-button class="w-full bg-sky-600 text-white" (click)="modalTransferir()">Transferir</button>
                        </div>
                    </div>
                </div>
            </div>
            <div [ngClass]="{'hidden': openTab !== 3, 'block': openTab === 3}">
                <div class="flex flex-col divide-y gap-5 lg:flex-row lg:divide-y-0 lg:divide-x lg:gap-0">
                    <div class="flex-1 py-3 lg:px-10 flex items-center">
                        <div class="w-96 h-56 m-auto bg-red-100 rounded-xl relative text-white">
                            <img class="relative object-cover w-full h-full rounded-xl"
                                src="https://i.imgur.com/kGkSg1v.png">
                            <div class="w-full px-8 absolute top-8">
                                <div class="flex justify-between">
                                    <div class="flex gap-2">
                                        <p class="font-medium tracking-widest">
                                            Sebas</p>
                                        <p class="font-medium tracking-widest">
                                            Perez</p>
                                    </div>
                                    <img class="w-14 h-14" src="https://i.imgur.com/bbPHJVe.png" />
                                </div>
                                <div class="pt-1">
                                    <p class="font-light">Numero de tarjeta</p>
                                    <p class="font-medium tracking-more-wider">
                                        4642 3489 9867 7632
                                    </p>
                                </div>
                                <div class="pt-6 pr-6">
                                    <div class="flex justify-between">
                                        <div class="">
                                            <p class="font-light text-xs">Desde</p>
                                            <p class="font-medium tracking-wider text-sm">15/11
                                            </p>
                                        </div>
                                        <div class="">
                                            <p class="font-light text-xs">Hasta</p>
                                            <p class="font-medium tracking-wider text-sm">25/03
                                            </p>
                                        </div>
                                        <div class="">
                                            <p class="font-light text-xs">CVV</p>
                                            <p class="font-bold tracking-more-wider text-sm">
                                                ···
                                            </p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="px-5 flex-1 py-3 lg:px-10 flex flex-col gap-6 lg:gap-0 lg:justify-between">
                        <div>
                            <h2 class="text-xl font-bold text-gray-400">ID de cuenta</h2>
                            <p class="text-2xl font-bold text-gray-700">5721234234</p>
                        </div>
                        <div>
                            <h2 class="text-xl font-bold text-gray-400">Mi balance:</h2>
                            <div class="flex">
                                <h3 *ngIf="hideCurrency === false" class="text-4xl font-bold">
                                </h3>
                                <h3 *ngIf="hideCurrency === true" class="text-4xl font-bold"> $
                                    *** </h3>
                                <button mat-icon-button (click)="showCurrencyFn()">
                                    <mat-icon
                                        [ngClass]="{'text-black': hideCurrency === true, 'text-gray-400': hideCurrency === false}">
                                        visibility</mat-icon>
                                </button>
                            </div>
                        </div>
                        <div class="flex gap-5">
                            <button mat-raised-button class="w-full bg-sky-600 text-white" (click)="modalRecargar()">Recargar</button>
                            <button mat-raised-button class="w-full bg-sky-600 text-white" (click)="modalTransferir()">Transferir</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="relative flex flex-col min-w-0 break-words bg-white w-full">
    <ul class="flex list-none flex-wrap flex-row rounded-b-lg shadow-lg border-t">
        <li class="mr-2 last:mr-0 flex-auto text-center">
            <a class="text-xs font-bold uppercase px-5 py-3 block leading-normal" (click)="toggleTabs(1)"
                [ngClass]="{'text-sky-600 bg-white': openTab !== 1, 'text-white bg-sky-600': openTab === 1}">
                <i class="fas fa-space-shuttle text-base mr-1"></i>Cuenta 1
            </a>
        </li>
        <li class="-mb-px mr-2 last:mr-0 flex-auto text-center">
            <a class="text-xs font-bold uppercase px-5 py-3 block leading-normal" (click)="toggleTabs(2)"
                [ngClass]="{'text-sky-600 bg-white': openTab !== 2, 'text-white bg-sky-600': openTab === 2}">
                <i class="fas fa-cog text-base mr-1"></i>Cuenta 2
            </a>
        </li>
        <li class="-mb-px mr-2 last:mr-0 flex-auto text-center">
            <a class="text-xs font-bold uppercase px-5 py-3 block leading-normal" (click)="toggleTabs(3)"
                [ngClass]="{'text-sky-600 bg-white': openTab !== 3, 'text-white bg-sky-600': openTab === 3}">
                <i class="fas fa-briefcase text-base mr-1"></i>Cuenta 3
            </a>
        </li>
        <button mat-button class="min-w-auto rounded-t-none rounded-bl-none" (click)="addBankAccount()">
            <mat-icon>add</mat-icon>
        </button>
    </ul>
</div>
