<main class="min-h-full bg-cover bg-top sm:bg-top grayscale absolute inset-0"
    style="background: url('../../../../assets/notFoundBG.jpg')">
    <div class="max-w-7xl mx-auto px-4 py-16 text-center sm:px-6 sm:py-24 lg:px-8 lg:py-48">
        <p class="text-sm font-semibold text-black text-opacity-50 uppercase tracking-wide">error 404</p>
        <h1 class="mt-2 text-4xl font-extrabold text-white tracking-tight sm:text-5xl">¡Wow! Parece que estas perdido.
        </h1>
        <p class="mt-2 text-lg font-medium text-black text-opacity-50">No pudimos encontrar lo que estabas buscando</p>
        <div class="mt-6">
            <a routerLink="/home" class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-black text-opacity-75 bg-white bg-opacity-75 sm:bg-opacity-25 sm:hover:bg-opacity-50">
                Regresar al inicio </a>
        </div>
    </div>
</main>